//////////*/ FONTS /*//////////
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//////////*/ COLOR PRESETS /*//////////
:root {
  --gray1: #f8f9fa; //Cultured
  --gray2: #e9ecef; //Cultured
  --gray3: #dee2e6; //Gainsboro
  --gray4: #ced4da; //Light Gray
  --gray5: #adb5bd; //Cadet Blue Crayola
  --gray6: #6c757d; //State Gray
  --gray7: #495057; //Davys Grey
  --gray8: #343a40; //Gunmetal
  --gray9: #212529; //Charleston Green
  --gray10: #1a1a1a; //Nero

  --mars: #ff5f40;

  --light: #594346;
  --dark: #212027;
  --light-red: #f22f08;
  --red: #8d2f23;
  --dark-red: #561e18;

  --black: #000000; //Black

  //*fonts
  --fonts: var(--gray1);
  --fonts-hover: var(--light-red);

  //*nav
  --nav-color: var(--gray1);
  --nav-color-hover: var(--light-red);
  --nav-bg: var(--gra);
  --nav-hover: var(--black);

  //*btn
  --btn-bg: var(--gray1);
  --btn-bg-hover: var(--light-red);
  --btn-color: var(--gray10);
  --btn-color-hover: var(--gray1);

  //*roadmap
  --rm-bg: var(--light-red);
}

$space: #435d70;
$space-shadow: #374d5c;
$ship: #eee;
$mars: #dd3c3c;
$alien: #1aae1e;
$gray: #aaa;
$timing: 12s;
$curve1: cubic-bezier(0.455, 0.03, 0.615, 0.555);
$curve2: cubic-bezier(0.645, 0.045, 0.355, 1);

////////*/ MAIN PAGE /*//////////
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
body {
  width: 100%;
  height: auto;
  background-color: var(--gray10);
  background-image: radial-gradient(
    circle,
    #000f57,
    #220c46,
    #290e37,
    #29122a,
    #241721
  );
}
.section {
  min-height: 200px;
}
.shadow {
  font-size: 50px;
  opacity: 0.07;
  margin-bottom: -37px;
  margin-top: -20px;
  user-select: none;
}
.content {
  width: 60%;
  display: flex;
  justify-content: space-between;
  transition: 1s ease;
}
footer {
  height: 100px;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: var(--fonts);
  }
  a {
    color: var(--fonts);
    text-decoration: none;
    transition: 0.2s ease;
  }
  a:hover {
    color: var(--fonts-hover);
  }
}
#menuToggle {
  display: none;
}

button {
  outline: none;
}

////////*/ NAVIGATION /*//////////
nav {
  height: 6.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: background 0.5s ease-in-out;
  user-select: none;
  z-index: 999;
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 75%;
    background: var(--nav-bg);
    transition: 1s ease;
    .web-v {
      color: var(--light-red);
      font-size: 14px;
      padding-left: 30px;
      margin-right: -95px;
      transition: 1s ease;
    }
    .logo {
      display: flex;
      align-items: center;
      height: 6.5em;
      width: 18em;
      transition: all 0.3s ease-in-out;
      img {
        width: 18em;
        height: 6.5em;
        object-fit: contain;
        user-select: none;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
        mix-blend-mode: normal;
      }
    }
    .logo:hover {
      width: 18.5em;
      img {
        width: 18.5em;
        transition: 0.3s ease-in-out;
        transition: filter 999s;
        filter: hue-rotate(99999deg);
      }
    }
    .nav-menu {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      li {
        display: block;
        justify-content: center;
        align-items: center;
        a {
          width: 100%;
          height: 100%;
          color: var(--nav-color);
          text-transform: capitalize;
          font-size: 16px;
          padding: 20px 17px 20px 17px;
          text-align: center;
          transition: 0.3s ease-in-out;
          .arrow {
            margin-left: 7px;
            margin-bottom: 2px;
            border: solid var(--nav-color);
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(-45deg);
            transition: all 0.2s ease-in-out;
          }
        }
        a:hover {
          color: var(--nav-color-hover);
          border-radius: 190px;
        }

        ul {
          visibility: hidden;
          min-height: 100px;
          opacity: 0;
          position: absolute;
          transition: all 0.2 ease-in-out;
          margin-top: 10px;
          display: none;
          li {
            padding: 10px 20px 10px 0px;
          }
        }
      }
      li:hover {
        cursor: pointer;
        .drop {
          color: var(--nav-color-hover);
        }
        .arrow {
          border: solid var(--nav-color-hover);
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
      li:hover > ul,
      li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        background: #00000050;
        .drop {
          color: var(--nav-color-hover);
        }
        .arrow {
          border: solid var(--nav-color-hover);
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
      .nav-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          // width: 50%;
          .earth {
            margin-left: 110px;
            width: 70px;
            height: 70px;
            background-image: url(/img/earth.svg);
            background-size: 200%;
            background-position: center;
            transition: 1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 30px;
            position: absolute;
            z-index: -1;
          }
          button {
            width: 130px;
            height: 35px;
            background-color: var(--btn-bg);
            color: var(--btn-color);
            border-radius: 180px;
            border: none;
            display: inline-block;
            cursor: pointer;
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.2s ease-in-out;
          }
          button:hover {
            background-color: var(--btn-bg-hover);
            color: var(--btn-color-hover);
            transition: 0.2s ease-in-out;
          }
          button:active {
            position: relative;
            top: 1px;
          }
        }
      }
      a:hover {
        img {
          height: 130px;
        }
        .earth {
          color: green;
          background-size: 250%;
          transition: 1s ease;
        }
      }
    }
  }
}
#navbar:hover {
  background: var(--nav-hover);
  transition: 0.5s ease-in-out;
}

////////*/ MARS /*//////////
.hero-section {
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .hero-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .hero-title {
      width: 500px;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 66%;
      user-select: none;
      h1 {
        color: var(--fonts);
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 900;
        font-style: italic;
      }
      p {
        color: var(--fonts);
      }
    }
    .hero-buttons {
      width: 500px;
      height: 200px;
      position: absolute;
      top: 89%;
      display: flex;
      justify-content: space-between;
      outline: none;
      user-select: none;
      a {
        button {
          width: 220px;
          height: 50px;
          background-color: var(--btn-bg);
          color: var(--btn-color);
          border-radius: 180px;
          border: none;
          display: inline-block;
          cursor: pointer;
          font-size: 18px;
          font-weight: 900;
          text-decoration: none;
          text-transform: uppercase;
          transition: 0.2s ease-in-out;
        }
        button:hover {
          background-color: var(--btn-bg-hover);
          color: var(--btn-color-hover);
          transition: 0.2s ease-in-out;
        }
        button:active {
          position: relative;
          top: 1px;
        }
      }
    }
    .hero-text {
      width: 40%;
      position: absolute;
      top: 76.5%;
      text-align: center;
      color: var(--fonts);
      opacity: 0.7;
    }
  }
  .mars {
    position: absolute;
    top: 43%;
    left: 51.5%;
    z-index: 2;
    background-image: url(/img/safemars.svg);
    //animation: planet-bump $timing $curve2 infinite;

    .tentacle {
      position: absolute;
      top: -190px;
      right: -180px;
      z-index: 1;
      height: 100px;
      width: 100px;
      box-sizing: border-box;
      border-radius: 100%;
      border-left: 20px solid $alien;
      transform: rotate(-30deg);
      animation: tentacle $timing $curve2 infinite;
    }

    .flag {
      position: absolute;
      height: 60px;
      width: 100px;
      top: -57px;
      left: -1px;
      animation: flag-pole $timing $curve2 infinite;

      &:before {
        content: "";
        position: absolute;
        height: 50px;
        width: 2px;
        background: #eee;
      }
      &:after {
        content: "";
        position: absolute;
        height: 40px;
        width: 50px;
        left: 2px;
        top: 0px;
        background-image: url(/img/safemars.png);
        background-size: contain;
        background-repeat: no-repeat;
        animation: flag-unfurl $timing $curve2 infinite;
      }
      .small-tentacle {
        position: absolute;
        left: -40px;
        top: 21px;
        height: 80px;
        width: 80px;
        border-left: 17px solid $alien;
        border-radius: 100%;
        transform: rotate(25deg);
        animation: small-tentacle $timing $curve2 infinite;
        z-index: 2;
      }
    }

    .planet {
      box-sizing: border-box;
      position: absolute;
      border-radius: 100%;
      height: 420px;
      width: 420px;
      overflow: hidden;
      margin-left: -240px;
      margin-top: -240px;
      z-index: 2;

      .surface {
        position: absolute;
        border-radius: 100%;
        height: 140%;
        width: 140%;
        top: -20%;
        right: -20%;
        box-sizing: border-box;
        border: 40px solid rgba(0, 0, 0, 0.15);
        background-image: url(/img/safemars.svg);
        background-size: 120%;
        background-position: center;
      }
    }
  }
  .ship {
    position: absolute;
    right: 50%;
    top: 50%;
    height: 120px;
    background: rgba(0, 0, 0, 0.1);
    transform-origin: 0% 100% 0;
    animation: ship $timing $curve2 infinite;

    .ship-rotate {
      position: absolute;
      height: 62px;
      transform: rotate(-110deg);
      animation: ship-rotate $timing $curve2 infinite;
    }
    .pod {
      position: absolute;
      top: 0;
      left: -16px;
      height: 32px;
      width: 32px;
      background: $ship;
      border-radius: 100% 0 100% 0;
      transform: rotate(-45deg);
    }
    .fuselage {
      position: absolute;
      top: 24px;
      left: -12px;
      height: 16px;
      width: 24px;
      background: $ship;
      border-radius: 100% 100% 0 0;

      &:after {
        content: "";
        position: absolute;
        left: 2px;
        top: 100%;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 16px solid red;
      }
    }
  }
}

@keyframes small-tentacle {
  0% {
    transform: rotate(-60deg);
  }
  86% {
    transform: rotate(-60deg);
  }
  89% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes tentacle {
  0% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  80% {
    transform: rotate(-165deg) translate(6px, 8px);
  }
  82.5% {
    transform: rotate(-165deg) translate(28px, -24px);
  }
  100% {
    transform: rotate(-165deg) translate(35px, -30px);
  }
}

@keyframes ship {
  0% {
    right: -10%;
    top: -10%;
    // margin-top: -55px;
    // margin-right: -55px;
  }
  40% {
    right: 44.5%;
    top: 23%;
  }
  79.5% {
    right: 44.5%;
    top: 23%;
  }
  84% {
    right: 50%;
    top: 40%;
  }
  100% {
    right: 50%;
    top: 40%;
    margin-top: 0px;
    margin-right: 0px;
  }
}

@keyframes ship-rotate {
  0% {
    transform: rotate(-110deg);
  }
  20% {
    transform: rotate(-110deg);
  }
  34% {
    transform: rotate(47deg);
  }
  79% {
    transform: rotate(47deg);
  }
  100% {
    transform: rotate(47deg);
  }
}

@keyframes flag-pole {
  0% {
    top: -234px;
  }
  48% {
    top: -234px;
  }
  54% {
    top: -285px;
  }
  90% {
    top: -285px;
  }
  92% {
    top: -224px;
  }
  100% {
    top: -224px;
  }
}

@keyframes flag-unfurl {
  0% {
    width: 0;
  }
  55% {
    width: 0;
  }
  60% {
    width: 50px;
  }
  90% {
    width: 50px;
  }
  100% {
    width: 0;
  }
}

////////*/ ABOUT /*//////////

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  color: var(--fonts);
  overflow: hidden;
  h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-style: italic;
    padding: 0px 30px 5px 20px;
    border-bottom: solid 4px white;
    border-radius: 65px 15px;
    font-weight: 700;
    user-select: none;
  }
  .about-text {
    width: 43%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    h2 {
      font-size: 30px;
      font-weight: 800;
    }
    p {
      margin-top: 13px;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .about-img {
    width: 43%;
    height: 50%;
    img {
      margin-top: -80px;
      margin-left: 80px;
      height: 100%;
      width: 90%;
      animation: moon 600s linear infinite;
      user-select: none;
      pointer-events: none;
      z-index: -2;
    }
  }
  .about-bottom {
    padding-top: 25px;
    width: 100%;
    height: 270px;
    // background: chartreuse;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    .bottom-text {
      display: flex;
      justify-content: space-between;
      width: 100%;
      div {
        width: 100%;
        p {
          width: 90%;
          margin-top: 13px;
          font-size: 18px;
          font-weight: 400;
          text-align: left;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
    .hero-buttons {
      width: 500px;
      display: flex;
      justify-content: space-between;
      a {
        button {
          width: 220px;
          height: 50px;
          background-color: var(--btn-bg);
          color: var(--btn-color);
          border-radius: 180px;
          border: none;
          display: inline-block;
          cursor: pointer;
          font-size: 18px;
          font-weight: 800;
          text-decoration: none;
          text-transform: uppercase;
          user-select: none;
          transition: 0.2s ease-in-out;
        }
        button:hover {
          background-color: var(--btn-bg-hover);
          color: var(--btn-color-hover);
          transition: 0.2s ease-in-out;
        }
        button:active {
          position: relative;
          top: 1px;
        }
      }
    }
  }
  h3 {
    font-size: 23px;
    margin-bottom: 10px;
  }
}

@keyframes moon {
  0% {
    transform: rotate(0deg);
    margin-top: -20px;
    margin-left: -40px;
  }
  25% {
    transform: rotate(360deg);
    margin-top: 20px;
    margin-left: 70px;
  }
  35% {
    transform: rotate(0deg);
    margin-top: 29px;
    margin-left: 35px;
  }
  50% {
    transform: rotate(360deg);
    margin-top: 70px;
    margin-left: 50px;
  }
  100% {
    transform: rotate(0deg);
    margin-top: -20px;
    margin-left: -40px;
  }
}

////////*/ ROADMAP /*//////////

.roadmap {
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
  color: var(--fonts);
  overflow: hidden;
  h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-style: italic;
    padding: 0px 30px 5px 20px;
    border-bottom: solid 4px white;
    border-radius: 65px 15px;
    font-weight: 700;
    user-select: none;
  }
  .roadmap-img {
    width: 33%;
    height: 50%;
    margin-left: -130px;
    margin-top: 30px;
    img {
      height: 70%;
      width: 160%;
      animation: earth 600s backwards linear infinite;
      user-select: none;
      pointer-events: none;
    }
  }
  .container {
    margin-top: 130px;
    width: 43%;
    height: 500px;
    position: relative;
    .leftbox {
      top: -5%;
      left: 5%;
      position: absolute;
      width: 15%;
      height: 110%;
      background-color: var(--rm-bg);
      box-shadow: 3px 3px 15px rgba(119, 119, 119, 0.5);
    }
    .rightbox {
      padding: 0em 34rem 0em 0em;
      height: 100%;
    }
    .rb-container {
      font-family: "PT Sans", sans-serif;
      height: 100%;
      width: 50%;
      margin: auto;
      display: block;
      position: relative;
      .rb {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        height: 500px;
        width: 450px;
        padding: 10px 0px 0px 0px;
        display: inline-block;
        .btn {
          position: absolute;
          margin-left: -15px;
          background: rgba(0, 0, 0, 0.2);
          color: rgba(255, 255, 255, 0.2);
          padding: 5px 12px 5px 12px;
          border-radius: 180px;
          user-select: none;
          font-size: 20px;
        }
        .up {
          top: 16%;
          transform: rotate(-90deg);
        }
        .down {
          top: 84%;
          transform: rotate(90deg);
        }
        .up2 {
          top: 16%;
          margin-left: 500px;
          transform: rotate(-90deg);
        }
        .down2 {
          top: 84%;
          margin-left: 500px;
          transform: rotate(90deg);
        }
        li {
          min-height: 100px;
          list-style: none;
          margin: auto;
          margin-left: 3em;
          border-left: 1px dashed #fff;
          padding: 0 0 50px 30px;
          position: relative;
        }

        li:last-child {
          border-left: 0;
        }

        li::before {
          position: absolute;
          left: -18px;
          top: -5px;
          content: " ";
          border: 8px solid rgba(255, 255, 255, 1);
          border-radius: 500%;
          height: 20px;
          width: 20px;
          transition: all 500ms ease-in-out;
        }

        li:hover::before {
          border-color: #232931;
          transition: all 1000ms ease-in-out;
        }
      }
      .rb::-webkit-scrollbar {
        display: none;
      }
    }

    ul.rb li .timestamp {
      position: relative;
      width: 100px;
      font-size: 12px;
    }

    .item-title {
      color: rgba(255, 255, 255, 0.6);
    }

    .container-3 {
      width: 5em;
      vertical-align: right;
      white-space: nowrap;
      position: absolute;
    }

    input::placeholder {
      padding: 5em 5em 1em 1em;
      color: #50d890;
    }
    .soon {
      color: var(--rm-bg);
      .timestamp {
        color: var(--rm-bg);
      }
    }
    .soon::before {
      background: var(--rm-bg);
    }
    .inpr {
      color: #ffa600;
    }
    .inpr::before {
      background: #ffa600;
    }
    .done {
      color: #50d890;
    }
    .done::before {
      background: #50d890;
    }
  }
}

@keyframes earth {
  0% {
    transform: rotate(0deg);
    margin-top: 20px;
    margin-left: 40px;
  }
  25% {
    transform: rotate(-180deg);
    margin-top: -20px;
    margin-left: -70px;
  }
  35% {
    transform: rotate(-360deg);
    margin-top: -29px;
    margin-left: -35px;
  }
  50% {
    transform: rotate(-540deg);
    margin-top: -70px;
    margin-left: -50px;
  }
  100% {
    transform: rotate(-720deg);
    margin-top: 20px;
    margin-left: 40px;
  }
}
@media (max-width: 2300px) {
  @keyframes ship {
    0% {
      right: -10%;
      top: -10%;
      // margin-top: -55px;
      // margin-right: -55px;
    }
    40% {
      right: 42.5%;
      top: 23%;
    }
    79.5% {
      right: 42.5%;
      top: 23%;
    }
    84% {
      right: 50%;
      top: 40%;
    }
    100% {
      right: 50%;
      top: 40%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
}

@media (max-width: 1600px) {
  nav {
    .nav-wrapper {
      width: 80%;
    }
  }
  @keyframes ship {
    0% {
      right: -10%;
      top: -10%;
      // margin-top: -55px;
      // margin-right: -55px;
    }
    40% {
      right: 41%;
      top: 23%;
    }
    79.5% {
      right: 41%;
      top: 23%;
    }
    84% {
      right: 50%;
      top: 40%;
    }
    100% {
      right: 50%;
      top: 40%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
}

@media (max-width: 1400px) {
  .content {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  nav {
    .nav-wrapper {
      width: 100%;
      transition: 1s ease;
      .web-v {
        display: none;
        transition: 1s ease;
      }
      .logo {
        display: flex;
        align-items: center;
        width: 12em;
        height: 6.5em;
        transition: all 0.3s ease-in-out;
        img {
          margin-left: 20px;
          width: 10em;
          height: 6.5em;
          object-fit: contain;
          user-select: none;
          pointer-events: none;
          transition: all 0.3s ease-in-out;
          mix-blend-mode: normal;
        }
      }
    }
  }
  .about {
    .about-text {
      width: 70%;
    }
  }
  .roadmap {
    margin-top: 140px;
    .roadmap-img {
      margin-left: -50px;
      width: 25%;
      // display: none;
    }
    .container {
      margin-top: 100px;
      width: 60%;
      height: 500px;
      position: relative;
    }
  }
}

@media (max-width: 1000px) {
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav {
    .nav-wrapper {
      width: 100%;
      transition: 1s ease;
      .logo {
        width: 20px;
        img {
          width: 140px;
        }
      }
      .nav-menu {
        .nav-buttons {
          .hide {
            transition: 1s ease;
            display: none;
          }
        }
      }
    }
  }

  .hero-section {
    width: 100%;
    height: 100vh;
    .hero-wrapper {
      width: 100%;
      .hero-title {
        top: 62%;
      }
      .hero-buttons {
        width: 500px;
        height: 200px;
        // position: fixed;
        top: 87%;
        a {
          button {
            width: 220px;
            height: 50px;
          }
        }
      }
      .hero-text {
        width: 70%;
        top: 74%;
      }
    }
    .mars {
      position: absolute;
      top: 43%;
      left: 56%;
      z-index: 2;
      .tentacle {
        top: -190px;
        right: -90px;
      }
      .flag {
        top: 100px;
        left: -50px;
      }
      .planet {
        height: 370px;
        width: 370px;
      }
    }
  }

  @keyframes ship {
    0% {
      right: -10%;
      top: -10%;
      // margin-top: -55px;
      // margin-right: -55px;
    }
    40% {
      right: 33.5%;
      top: 23%;
    }
    79.5% {
      right: 33.5%;
      top: 23%;
    }
    84% {
      right: 50%;
      top: 40%;
    }
    100% {
      right: 50%;
      top: 40%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }

  .about {
    margin-top: -90px;
    .about-text {
      width: 70%;
    }
  }
  .roadmap {
    margin-top: 140px;
    .roadmap-img {
      margin-left: -50px;
      width: 20%;
      // display: none;
    }
    .container {
      margin-top: 100px;
      width: 70%;
      height: 500px;
      position: relative;
    }
  }
}

@media (max-width: 800px) {
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #navbar {
    display: none;
    .nav-wrapper {
      width: 100%;
      transition: 1s ease;
    }
    .logo {
      display: none;
      align-items: center;
      height: 6.5em;
      width: 18em;
      transition: all 0.3s ease-in-out;
      img {
        display: none;
        margin-left: 20px;
        width: 14em;
        height: 6.5em;
        object-fit: contain;
        user-select: none;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
        mix-blend-mode: normal;
      }
    }
    .nav-menu {
      width: 100%;
      .nav-buttons {
        a {
          button {
            display: none;
          }
        }
      }
    }
  }

  #menuToggle {
    height: 100%;
    width: 90%;
    display: block;
    position: relative;
    top: 50px;
    // left: -250px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    a {
      text-decoration: none;
      color: #ffffff;
      padding: 30px;
      transition: color 0.3s ease;
    }

    a:hover {
      color: rgb(255, 56, 21);
    }

    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;

      cursor: pointer;

      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */

      -webkit-touch-callout: none;
    }
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: #ffffff;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }
    span:first-child {
      transform-origin: 0% 0%;
    }

    span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
    input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #ffffff;
    }
    input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    input:checked ~ ul {
      transform: none;
    }
  }
  #menu {
    position: absolute;
    height: 1200px;
    width: 280px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    li {
      padding: 10px;
      font-size: 18px;
    }
  }

  .hero-section {
    width: 100%;
    height: 100vh;
    .hero-wrapper {
      width: 100%;
      .hero-title {
        top: 58%;
      }
      .hero-buttons {
        width: 90%;
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        top: 87%;
        a {
          button {
            width: 220px;
            height: 50px;
          }
        }
      }
      .hero-text {
        width: 80%;
        top: 70%;
      }
    }
    .mars {
      position: absolute;
      top: 43%;
      left: 62%;
      z-index: 2;
      .tentacle {
        top: -190px;
        right: -90px;
      }
      .flag {
        top: 100px;
        left: -50px;
      }
      .planet {
        height: 310px;
        width: 310px;
      }
    }
    .roadmap {
      margin-top: 140px;
      .roadmap-img {
        display: none;
      }
      .container {
        margin-top: 100px;
        width: 70%;
        height: 500px;
        position: relative;
      }
    }
  }
  @keyframes ship {
    0% {
      right: -10%;
      top: -10%;
      // margin-top: -55px;
      // margin-right: -55px;
    }
    40% {
      right: 30.5%;
      top: 23%;
    }
    79.5% {
      right: 30.5%;
      top: 23%;
    }
    84% {
      right: 50%;
      top: 40%;
    }
    100% {
      right: 50%;
      top: 40%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
  .about {
    margin-top: -120px;
    .about-text {
      width: 80%;
    }
    .about-img {
      display: none;
    }
    .about-bottom {
      width: 80%;
      height: 430px;
      flex-direction: column-reverse;
      .bottom-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 43px;
      }
    }
  }
  .roadmap {
    margin-top: 140px;
    .roadmap-img {
      display: none;
    }
    .container {
      margin-top: 100px;
      width: 70%;
      height: 500px;
      position: relative;
    }
  }
}

@media (max-width: 540px) {
  footer {
    align-items: flex-start;
    padding-top: 40px;
    margin-top: -130px;
    height: 210px;
  }
  #menu {
    position: absolute;
    height: 1200px;
    width: 250px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    li {
      padding: 10px;
      font-size: 19px;
    }
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hero-section {
    width: 100%;
    height: 100vh;
    .hero-wrapper {
      width: 100%;
      justify-content: center;
      .hero-title {
        top: 58%;
        h1 {
          font-size: 30px;
        }
      }
      .hero-buttons {
        width: 90%;
        height: 200px;
        position: fixed;
        top: 87%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        a {
          button {
            width: 100%;
            height: 50px;
            font-size: 14px;
            padding: 0px 10px 0px 10px;
          }
        }
      }
      .hero-text {
        width: 70%;
        top: 67%;
        font-size: 14px;
      }
    }
    .ship {
      display: none;
    }
    .mars {
      position: absolute;
      top: 50%;
      left: 78%;
      z-index: 2;
      .tentacle {
        display: none;
        top: -190px;
        right: -90px;
      }
      .flag {
        display: none;
      }

      .planet {
        height: 250px;
        width: 250px;
      }
    }
    .roadmap {
      margin-top: 140px;
      .roadmap-img {
        display: none;
      }
      .container {
        margin-top: 100px;
        width: 70%;
        height: 500px;
        position: relative;
      }
    }
  }
  .about {
    margin-top: -180px;
    text-align: center;
    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 17px;
    }
    .about-text {
      width: 80%;
      h2 {
        font-size: 20px;
      }
      p {
        text-align: center;
        font-size: 15px;
      }
    }
    .about-img {
      display: none;
    }
    .about-bottom {
      width: 80%;
      height: 430px;
      flex-direction: column-reverse;
      .hero-buttons {
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        a {
          margin-right: 10px;
          button {
            width: 100%;
            height: 45px;
            font-size: 10px;
          }
        }
        .btn-wrapper {
          margin-top: -150px;
          button {
            width: 150px;
            height: 50px;
            font-size: 14px;
          }
        }
      }
      .bottom-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: -10px;
        div {
          margin-top: 10px;
          p {
            text-align: center;
            font-size: 15px;
          }
        }
      }
    }
  }
  .roadmap {
    h1 {
      font-size: 30px;
    }
    margin-top: 140px;
    .roadmap-img {
      display: none;
    }
    .content {
      display: flex;
      justify-content: center;
    }
    .container {
      margin-top: 80px;
      width: 100%;
      height: 500px;
      position: relative;
      .btn {
        display: none;
      }
      .rightbox {
        height: 100%;
      }
    }
  }
}

@media (max-width: 390px) {
  footer {
    align-items: flex-start;
    padding-top: 40px;
    margin-top: -130px;
    height: 180px;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #menu {
    position: absolute;
    height: 1200px;
    width: 250px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 90px;

    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    li {
      padding: 5px;
      font-size: 14px;
    }
  }
  .hero-section {
    width: 100%;
    height: 100vh;
    .hero-wrapper {
      justify-content: center;
      width: 100%;
      .hero-title {
        top: 58%;
        h1 {
          font-size: 30px;
        }
      }
      .hero-buttons {
        width: 90%;
        height: 200px;
        position: fixed;
        top: 87%;
        z-index: 2;
        a {
          button {
            width: 100%;
            height: 45px;
            font-size: 10px;
          }
        }
      }
      .hero-text {
        width: 90%;
        top: 67%;
        font-size: 14px;
      }
    }
    .ship {
      display: none;
    }
    .mars {
      position: absolute;
      top: 57%;
      left: 90%;
      z-index: 2;
      .tentacle {
        display: none;
        top: -190px;
        right: -90px;
      }
      .flag {
        display: none;
      }

      .planet {
        height: 210px;
        width: 210px;
      }
    }
    .roadmap {
      margin-top: 140px;
      .roadmap-img {
        display: none;
      }
      .container {
        margin-top: 100px;
        width: 70%;
        height: 500px;
        position: relative;
      }
    }
  }
  .about {
    margin-top: -170px;
    text-align: center;
    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 15px;
    }
    .about-text {
      margin-top: 70px;
      width: 80%;
      h2 {
        font-size: 18px;
      }
      p {
        text-align: center;
        font-size: 14px;
      }
    }
    .about-img {
      display: none;
    }
    .about-bottom {
      width: 90%;
      height: 430px;
      flex-direction: column-reverse;
      .hero-buttons {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .btn-wrapper {
          margin-top: -90px;
          button {
            width: 120px;
            height: 45px;
            font-size: 11px;
          }
        }
      }
      .bottom-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 46px;
        div {
          margin-top: 10px;
          p {
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
  .roadmap {
    h1 {
      font-size: 30px;
    }
    margin-top: 140px;
    .roadmap-img {
      display: none;
    }
    .content {
      display: flex;
      justify-content: center;
    }
    .container {
      margin-top: 80px;
      width: 100%;
      height: 500px;
      position: relative;
      .btn {
        display: none;
      }
      .rightbox {
        height: 100%;
      }
      .rb-container {
        .rb {
          width: 340px;
        }
      }
    }
  }
}
