@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary: rgb(248, 68, 69);
  --gray1: #f8f9fa;
  --gray2: #e9ecef;
  --gray3: #dee2e6;
  --gray4: #ced4da;
  --gray5: #adb5bd;
  --gray6: #6c757d;
  --gray7: #495057;
  --gray8: #343a40;
  --gray9: #212529;
  --gray10: #1a1a1a;
  --mars: #ff5f40;
  --light: #594346;
  --dark: #212027;
  --light-red: #f22f08;
  --red: #8d2f23;
  --dark-red: #561e18;
  --black: #000000;
  --fonts: var(--gray1);
  --fonts-hover: var(--light-red);
  --nav-color: var(--gray1);
  --nav-color-hover: var(--light-red);
  --nav-bg: var(--gra);
  --nav-hover: var(--black);
  --btn-bg: var(--gray1);
  --btn-bg-hover: var(--light-red);
  --btn-color: var(--gray10);
  --btn-color-hover: var(--gray1);
  --rm-bg: var(--light-red);
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

body {
  width: 100%;
  height: auto;
  background-color: var(--gray10);
  background-image: radial-gradient(circle, #000f57, #220c46, #290e37, #29122a, #241721);
}

.section {
  min-height: 200px;
}

.shadow {
  font-size: 50px;
  opacity: 0.07;
  margin-bottom: -37px;
  margin-top: -20px;
  user-select: none;
}

.content {
  width: 60%;
  display: flex;
  justify-content: space-between;
  transition: 1s ease;
}

footer {
  height: 100px;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: var(--fonts);
}
footer a {
  color: var(--fonts);
  text-decoration: none;
  transition: 0.2s ease;
}
footer a:hover {
  color: var(--fonts-hover);
}

#menuToggle {
  display: none;
  z-index: 888;
}

button {
  outline: none;
}

#navbar {
  height: 6.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: background 0.5s ease-in-out;
  user-select: none;
  z-index: 999;
}
#navbar .nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 75%;
  background: var(--nav-bg);
  transition: 1s ease;
}
#navbar .nav-wrapper .web-v {
  color: var(--light-red);
  font-size: 14px;
  padding-left: 30px;
  margin-right: -95px;
  transition: 1s ease;
}
#navbar .nav-wrapper .logo {
  display: flex;
  align-items: center;
  height: 6.5em;
  width: 18em;
  transition: all 0.3s ease-in-out;
}
#navbar .nav-wrapper .logo img {
  width: 18em;
  height: 6.5em;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  mix-blend-mode: normal;
}
#navbar .nav-wrapper .logo:hover {
  width: 18.5em;
}
#navbar .nav-wrapper .logo:hover img {
  width: 18.5em;
  transition: 0.3s ease-in-out;
  transition: filter 999s;
  filter: hue-rotate(99999deg);
}
#navbar .nav-wrapper .nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
#navbar .nav-wrapper .nav-menu li {
  display: block;
  justify-content: center;
  align-items: center;
}
#navbar .nav-wrapper .nav-menu li a {
  width: 100%;
  height: 100%;
  color: var(--nav-color);
  text-transform: capitalize;
  font-size: 16px;
  padding: 20px 17px 20px 17px;
  text-align: center;
  transition: 0.3s ease-in-out;
}
#navbar .nav-wrapper .nav-menu li a .arrow {
  margin-left: 7px;
  margin-bottom: 2px;
  border: solid var(--nav-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
}
#navbar .nav-wrapper .nav-menu li a:hover {
  color: var(--nav-color-hover);
  border-radius: 190px;
}
#navbar .nav-wrapper .nav-menu li ul {
  visibility: hidden;
  min-height: 100px;
  opacity: 0;
  position: absolute;
  transition: all 0.2 ease-in-out;
  margin-top: 10px;
  display: none;
}
#navbar .nav-wrapper .nav-menu li ul li {
  padding: 10px 20px 10px 0px;
}
#navbar .nav-wrapper .nav-menu li:hover {
  cursor: pointer;
}
#navbar .nav-wrapper .nav-menu li:hover .drop {
  color: var(--nav-color-hover);
}
#navbar .nav-wrapper .nav-menu li:hover .arrow {
  border: solid var(--nav-color-hover);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
#navbar .nav-wrapper .nav-menu li:hover > ul,
#navbar .nav-wrapper .nav-menu li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  background: #00000050;
}
#navbar .nav-wrapper .nav-menu li:hover > ul .drop,
#navbar .nav-wrapper .nav-menu li ul:hover .drop {
  color: var(--nav-color-hover);
}
#navbar .nav-wrapper .nav-menu li:hover > ul .arrow,
#navbar .nav-wrapper .nav-menu li ul:hover .arrow {
  border: solid var(--nav-color-hover);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
#navbar .nav-wrapper .nav-menu #launch-app-button {
  background-color: var(--primary);
  color: white;
}
#navbar .nav-wrapper .nav-menu #launch-app-button:hover, #navbar .nav-wrapper .nav-menu #launch-app-button:focus {
  box-shadow: 0 0 5px #ff5e5e;
}
#navbar .nav-wrapper .nav-menu .nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#navbar .nav-wrapper .nav-menu .nav-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .nav-wrapper .nav-menu .nav-buttons a .earth {
  margin-left: 110px;
  width: 70px;
  height: 70px;
  background-image: url(/img/earth.svg);
  background-size: 200%;
  background-position: center;
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  position: absolute;
  z-index: -1;
}
#navbar .nav-wrapper .nav-menu .nav-buttons a button {
  width: 130px;
  height: 35px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border-radius: 180px;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
#navbar .nav-wrapper .nav-menu .nav-buttons a button:hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-color-hover);
  transition: 0.2s ease-in-out;
}
#navbar .nav-wrapper .nav-menu .nav-buttons a button:active {
  position: relative;
  top: 1px;
}
#navbar .nav-wrapper .nav-menu a:hover img {
  height: 130px;
}
#navbar .nav-wrapper .nav-menu a:hover .earth {
  color: green;
  background-size: 250%;
  transition: 1s ease;
}

#navbar:hover {
  background: var(--nav-hover);
  transition: 0.5s ease-in-out;
}

.hero-section {
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.hero-section .hero-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero-section .hero-wrapper .hero-title {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 66%;
  user-select: none;
}
.hero-section .hero-wrapper .hero-title h1 {
  color: var(--fonts);
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
}
.hero-section .hero-wrapper .hero-title p {
  color: var(--fonts);
}
.hero-section .hero-wrapper .hero-buttons {
  position: absolute;
  top: 89%;
  display: flex;
  justify-content: space-between;
  outline: none;
  user-select: none;
}
.hero-section .hero-wrapper .hero-buttons a {
  margin: 0 50px;
}
.hero-section .hero-wrapper .hero-buttons a button {
  padding: 0 20px;
  width: 220px;
  height: 50px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border-radius: 180px;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.hero-section .hero-wrapper .hero-buttons a button:hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-color-hover);
  transition: 0.2s ease-in-out;
}
.hero-section .hero-wrapper .hero-buttons a button:active {
  position: relative;
  top: 1px;
}
.hero-section .hero-wrapper .hero-buttons a button#activated {
  color: #fff;
  background-color: var(--primary);
  box-shadow: 0 0 10px #ff5e5e;
  letter-spacing: 1.2px;
  font-size: 20px;
}
.hero-section .hero-wrapper .hero-text {
  width: 40%;
  position: absolute;
  top: 76.5%;
  text-align: center;
  color: var(--fonts);
  opacity: 0.7;
}
.hero-section .mars {
  position: absolute;
  top: 43%;
  left: 51.5%;
  z-index: 2;
  background-image: url(/img/safemars.svg);
}
.hero-section .mars .tentacle {
  position: absolute;
  top: -190px;
  right: -180px;
  z-index: 1;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border-radius: 100%;
  border-left: 20px solid #1aae1e;
  transform: rotate(-30deg);
  animation: tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.hero-section .mars .flag {
  position: absolute;
  height: 60px;
  width: 100px;
  top: -57px;
  left: -1px;
  animation: flag-pole 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.hero-section .mars .flag:before {
  content: "";
  position: absolute;
  height: 50px;
  width: 2px;
  background: #eee;
}
.hero-section .mars .flag:after {
  content: "";
  position: absolute;
  height: 40px;
  width: 50px;
  left: 2px;
  top: 0px;
  background-image: url(/img/safemars.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: flag-unfurl 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.hero-section .mars .flag .small-tentacle {
  position: absolute;
  left: -40px;
  top: 21px;
  height: 80px;
  width: 80px;
  border-left: 17px solid #1aae1e;
  border-radius: 100%;
  transform: rotate(25deg);
  animation: small-tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  z-index: 2;
}
.hero-section .mars .planet {
  box-sizing: border-box;
  position: absolute;
  border-radius: 100%;
  height: 420px;
  width: 420px;
  overflow: hidden;
  margin-left: -240px;
  margin-top: -240px;
  z-index: 2;
}
.hero-section .mars .planet .surface {
  position: absolute;
  border-radius: 100%;
  height: 140%;
  width: 140%;
  top: -20%;
  right: -20%;
  box-sizing: border-box;
  border: 40px solid rgba(0, 0, 0, 0.15);
  background-image: url(/img/safemars.svg);
  background-size: 120%;
  background-position: center;
}
.hero-section .ship {
  position: absolute;
  right: 50%;
  top: 50%;
  height: 120px;
  background: rgba(0, 0, 0, 0.1);
  transform-origin: 0% 100% 0;
  animation: ship 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.hero-section .ship .ship-rotate {
  position: absolute;
  height: 62px;
  transform: rotate(-110deg);
  animation: ship-rotate 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.hero-section .ship .pod {
  position: absolute;
  top: 0;
  left: -16px;
  height: 32px;
  width: 32px;
  background: #eee;
  border-radius: 100% 0 100% 0;
  transform: rotate(-45deg);
}
.hero-section .ship .fuselage {
  position: absolute;
  top: 24px;
  left: -12px;
  height: 16px;
  width: 24px;
  background: #eee;
  border-radius: 100% 100% 0 0;
}
.hero-section .ship .fuselage:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 16px solid red;
}

@keyframes small-tentacle {
  0% {
    transform: rotate(-60deg);
  }
  86% {
    transform: rotate(-60deg);
  }
  89% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes tentacle {
  0% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  80% {
    transform: rotate(-165deg) translate(6px, 8px);
  }
  82.5% {
    transform: rotate(-165deg) translate(28px, -24px);
  }
  100% {
    transform: rotate(-165deg) translate(35px, -30px);
  }
}
@keyframes ship {
  0% {
    right: -10%;
    top: -10%;
  }
  40% {
    right: 44.5%;
    top: 23%;
  }
  79.5% {
    right: 44.5%;
    top: 23%;
  }
  84% {
    right: 50%;
    top: 40%;
  }
  100% {
    right: 50%;
    top: 40%;
    margin-top: 0px;
    margin-right: 0px;
  }
}
@keyframes ship-rotate {
  0% {
    transform: rotate(-110deg);
  }
  20% {
    transform: rotate(-110deg);
  }
  34% {
    transform: rotate(47deg);
  }
  79% {
    transform: rotate(47deg);
  }
  100% {
    transform: rotate(47deg);
  }
}
@keyframes flag-pole {
  0% {
    top: -234px;
  }
  48% {
    top: -234px;
  }
  54% {
    top: -285px;
  }
  90% {
    top: -285px;
  }
  92% {
    top: -224px;
  }
  100% {
    top: -224px;
  }
}
@keyframes flag-unfurl {
  0% {
    width: 0;
  }
  55% {
    width: 0;
  }
  60% {
    width: 50px;
  }
  90% {
    width: 50px;
  }
  100% {
    width: 0;
  }
}
.chart {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--fonts);
}
.chart h1 {
  margin-top: 50px;
  margin-bottom: 90px;
  font-size: 45px;
  text-transform: uppercase;
  font-style: italic;
  padding: 0px 30px 5px 20px;
  border-bottom: solid 4px white;
  border-radius: 65px 15px;
  font-weight: 700;
  user-select: none;
}
.chart .live {
  width: 57%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart .live .part {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chart .live .part a button {
  user-select: none;
  width: 110px;
  height: 40px;
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.chart .live .part a button:hover {
  background: #ff2020;
  color: white;
  transition: 0.3s ease;
}
.chart .live .part .cur::before {
  content: "$";
  margin-right: 4px;
}
.chart .live .part .po {
  color: #00be00;
}
.chart .live .part .po::before {
  content: "+";
  margin-right: 4px;
}
.chart .live .part .po::after {
  content: "%";
  margin-left: 4px;
}
.chart .live .part .ne {
  color: red;
}
.chart .live .part .ne::before {
  content: "-";
  margin-right: 4px;
}
.chart .live .part .ne::after {
  content: "%";
  margin-left: 4px;
}
.chart .live .part h3 {
  font-size: 19px;
}
.chart .live .part .mo:before {
  content: "$";
  margin-right: 4px;
}
.chart .live .part p {
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
  user-select: none;
  pointer-events: none;
}
.chart .records {
  margin-top: 20px;
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.chart .records .part {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chart .records .part img {
  user-select: none;
  pointer-events: none;
  height: 60px;
  margin-bottom: 20px;
}
.chart .records .part h3 {
  font-size: 32px;
}
.chart .records .part p {
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
  user-select: none;
  pointer-events: none;
}
.chart .records .part .marketcap::before {
  content: "$";
  margin-right: 4px;
}
.chart .records .part .liquid::before {
  content: "$";
  margin-right: 4px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  color: var(--fonts);
  overflow: hidden;
}
.about h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-style: italic;
  padding: 0px 30px 5px 20px;
  border-bottom: solid 4px white;
  border-radius: 65px 15px;
  font-weight: 700;
  user-select: none;
}
.about .about-text {
  width: 43%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.about .about-text h2 {
  font-size: 30px;
  font-weight: 800;
}
.about .about-text p {
  margin-top: 13px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.about .about-img {
  width: 43%;
  height: 50%;
}
.about .about-img img {
  margin-top: -80px;
  margin-left: 80px;
  height: 100%;
  width: 90%;
  animation: moon 600s linear infinite;
  user-select: none;
  pointer-events: none;
  z-index: -2;
}
.about .about-bottom {
  padding-top: 25px;
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
.about .about-bottom .bottom-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about .about-bottom .bottom-text div {
  width: 100%;
}
.about .about-bottom .bottom-text div p {
  width: 90%;
  margin-top: 13px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.about .about-bottom .hero-buttons {
  display: flex;
  justify-content: space-between;
}
.about .about-bottom .hero-buttons a button {
  margin: 0 20px;
  width: 220px;
  height: 50px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border-radius: 180px;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  transition: 0.2s ease-in-out;
}
.about .about-bottom .hero-buttons a button:hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-color-hover);
  transition: 0.2s ease-in-out;
}
.about .about-bottom .hero-buttons a button:active {
  position: relative;
  top: 1px;
}
.about h3 {
  font-size: 23px;
  margin-bottom: 10px;
}

.links {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 63%;
  min-height: 150px;
  flex-wrap: wrap;
  transition: 1s ease;
}
.links .part {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.links .part a {
  width: 200px;
  height: 50px;
  transition: 0.1s ease;
}
.links .part a:hover {
  transition: 0.1s ease;
  transform: scale(1.05);
}
.links .part p {
  margin-top: 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.7;
  user-select: none;
}

@keyframes moon {
  0% {
    transform: rotate(0deg);
    margin-top: -20px;
    margin-left: -40px;
  }
  25% {
    transform: rotate(360deg);
    margin-top: 20px;
    margin-left: 70px;
  }
  35% {
    transform: rotate(0deg);
    margin-top: 29px;
    margin-left: 35px;
  }
  50% {
    transform: rotate(360deg);
    margin-top: 70px;
    margin-left: 50px;
  }
  100% {
    transform: rotate(0deg);
    margin-top: -20px;
    margin-left: -40px;
  }
}
.roadmap {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
  color: var(--fonts);
  overflow: hidden;
}
.roadmap h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-style: italic;
  padding: 0px 30px 5px 20px;
  border-bottom: solid 4px white;
  border-radius: 65px 15px;
  font-weight: 700;
  user-select: none;
}
.roadmap .roadmap-img {
  width: 33%;
  height: 50%;
  margin-left: -130px;
  margin-top: 30px;
}
.roadmap .roadmap-img img {
  height: 70%;
  width: 160%;
  animation: earth 600s backwards linear infinite;
  user-select: none;
  pointer-events: none;
}
.roadmap .container {
  margin-top: 130px;
  width: 43%;
  height: 500px;
  position: relative;
}
.roadmap .container .leftbox {
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background-color: var(--rm-bg);
  box-shadow: 3px 3px 15px rgba(119, 119, 119, 0.5);
}
.roadmap .container .rightbox {
  padding: 0em 34rem 0em 0em;
  height: 100%;
}
.roadmap .container .rb-container {
  font-family: "PT Sans", sans-serif;
  height: 100%;
  width: 50%;
  margin: auto;
  display: block;
  position: relative;
}
.roadmap .container .rb-container .rb {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  height: 500px;
  width: 450px;
  padding: 10px 0px 0px 0px;
  display: inline-block;
}
.roadmap .container .rb-container .rb .btn {
  position: absolute;
  margin-left: -15px;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.2);
  padding: 5px 12px 5px 12px;
  border-radius: 180px;
  user-select: none;
  font-size: 20px;
}
.roadmap .container .rb-container .rb .up {
  top: 16%;
  transform: rotate(-90deg);
}
.roadmap .container .rb-container .rb .down {
  top: 84%;
  transform: rotate(90deg);
}
.roadmap .container .rb-container .rb .up2 {
  top: 16%;
  margin-left: 500px;
  transform: rotate(-90deg);
}
.roadmap .container .rb-container .rb .down2 {
  top: 84%;
  margin-left: 500px;
  transform: rotate(90deg);
}
.roadmap .container .rb-container .rb li {
  min-height: 100px;
  list-style: none;
  margin: auto;
  margin-left: 3em;
  border-left: 1px dashed #fff;
  padding: 0 0 50px 30px;
  position: relative;
}
.roadmap .container .rb-container .rb li:last-child {
  border-left: 0;
}
.roadmap .container .rb-container .rb li::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid white;
  border-radius: 500%;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}
.roadmap .container .rb-container .rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}
.roadmap .container .rb-container .rb::-webkit-scrollbar {
  display: none;
}
.roadmap .container ul.rb li .timestamp {
  position: relative;
  width: 100px;
  font-size: 12px;
}
.roadmap .container .item-title {
  color: rgba(255, 255, 255, 0.6);
}
.roadmap .container .container-3 {
  width: 5em;
  vertical-align: right;
  white-space: nowrap;
  position: absolute;
}
.roadmap .container input::placeholder {
  padding: 5em 5em 1em 1em;
  color: #50d890;
}
.roadmap .container .soon {
  color: var(--rm-bg);
}
.roadmap .container .soon .timestamp {
  color: var(--rm-bg);
}
.roadmap .container .soon::before {
  background: var(--rm-bg);
}
.roadmap .container .inpr {
  color: #ffa600;
}
.roadmap .container .inpr::before {
  background: #ffa600;
}
.roadmap .container .done {
  color: #50d890;
}
.roadmap .container .done::before {
  background: #50d890;
}

@keyframes earth {
  0% {
    transform: rotate(0deg);
    margin-top: 20px;
    margin-left: 40px;
  }
  25% {
    transform: rotate(-180deg);
    margin-top: -20px;
    margin-left: -70px;
  }
  35% {
    transform: rotate(-360deg);
    margin-top: -29px;
    margin-left: -35px;
  }
  50% {
    transform: rotate(-540deg);
    margin-top: -70px;
    margin-left: -50px;
  }
  100% {
    transform: rotate(-720deg);
    margin-top: 20px;
    margin-left: 40px;
  }
}
@media (max-width: 2300px) {
  @keyframes ship {
    0% {
      right: -10%;
      top: -10%;
    }
    40% {
      right: 42.5%;
      top: 23%;
    }
    79.5% {
      right: 42.5%;
      top: 23%;
    }
    84% {
      right: 50%;
      top: 40%;
    }
    100% {
      right: 50%;
      top: 40%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
}
@media (max-width: 1600px) {
  #navbar .nav-wrapper {
    width: 80%;
  }

  @keyframes ship {
    0% {
      right: -10%;
      top: -10%;
    }
    40% {
      right: 41%;
      top: 23%;
    }
    79.5% {
      right: 41%;
      top: 23%;
    }
    84% {
      right: 50%;
      top: 40%;
    }
    100% {
      right: 50%;
      top: 40%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
}
@media (max-width: 1400px) {
  .content {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  #navbar .nav-wrapper {
    width: 100%;
    transition: 1s ease;
  }
  #navbar .nav-wrapper .web-v {
    display: none;
    transition: 1s ease;
  }
  #navbar .nav-wrapper .logo {
    display: flex;
    align-items: center;
    width: 12em;
    height: 6.5em;
    transition: all 0.3s ease-in-out;
  }
  #navbar .nav-wrapper .logo img {
    margin-left: 20px;
    width: 10em;
    height: 6.5em;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    mix-blend-mode: normal;
  }

  .about .about-text {
    width: 70%;
  }

  .roadmap {
    margin-top: 140px;
  }
  .roadmap .roadmap-img {
    margin-left: -50px;
    width: 25%;
  }
  .roadmap .container {
    margin-top: 100px;
    width: 60%;
    height: 500px;
    position: relative;
  }

  .chart {
    width: 100%;
  }
  .chart .live {
    width: 77%;
  }
  .chart .records {
    width: 62%;
  }

  .links {
    width: 83%;
  }
}
@media (max-width: 1000px) {
  .content {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  #navbar .nav-wrapper {
    width: 100%;
    transition: 1s ease;
  }
  #navbar .nav-wrapper .logo {
    width: 20px;
  }
  #navbar .nav-wrapper .logo img {
    width: 140px;
  }
  #navbar .nav-wrapper .nav-menu .nav-buttons .hide {
    transition: 1s ease;
    display: none;
  }

  .chart {
    width: 100%;
  }
  .chart .live {
    width: 90%;
  }
  .chart .records {
    width: 80%;
  }

  .hero-section {
    width: 100%;
    height: 100vh;
  }
  .hero-section .hero-wrapper {
    width: 100%;
  }
  .hero-section .hero-wrapper .hero-title {
    top: 62%;
  }
  .hero-section .hero-wrapper .hero-buttons {
    top: 87%;
  }
  .hero-section .hero-wrapper .hero-buttons a button {
    width: 220px;
    height: 50px;
  }
  .hero-section .hero-wrapper .hero-text {
    width: 70%;
    top: 74%;
  }
  .hero-section .mars {
    position: absolute;
    top: 43%;
    left: 56%;
    z-index: 2;
  }
  .hero-section .mars .tentacle {
    top: -190px;
    right: -90px;
  }
  .hero-section .mars .flag {
    top: 100px;
    left: -50px;
  }
  .hero-section .mars .planet {
    height: 370px;
    width: 370px;
  }

  @keyframes ship {
    0% {
      right: -10%;
      top: -10%;
    }
    40% {
      right: 33.5%;
      top: 23%;
    }
    79.5% {
      right: 33.5%;
      top: 23%;
    }
    84% {
      right: 50%;
      top: 40%;
    }
    100% {
      right: 50%;
      top: 40%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
  .about {
    margin-top: -90px;
  }
  .about .about-text {
    width: 70%;
  }

  .roadmap {
    margin-top: 140px;
  }
  .roadmap .roadmap-img {
    margin-left: -50px;
    width: 20%;
  }
  .roadmap .container {
    margin-top: 100px;
    width: 70%;
    height: 500px;
    position: relative;
  }

  .links {
    width: 90%;
    justify-content: center;
  }
  .links .part {
    width: 300px;
  }
}
@media (max-width: 800px) {
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .chart {
    height: 800px;
  }
  .chart .live {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .chart .live .part {
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .chart .records {
    margin-top: 20px;
    width: 95%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .chart .records .part {
    height: 140px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .chart .records .part img {
    user-select: none;
    pointer-events: none;
    height: 60px;
    margin-bottom: 20px;
  }
  .chart .records .part h3 {
    font-size: 32px;
  }
  .chart .records .part p {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 13px;
    opacity: 0.5;
    font-weight: 400;
    user-select: none;
    pointer-events: none;
  }

  #navbar {
    display: none;
  }
  #navbar .nav-wrapper {
    width: 100%;
    transition: 1s ease;
  }
  #navbar .logo {
    display: none;
    align-items: center;
    height: 6.5em;
    width: 18em;
    transition: all 0.3s ease-in-out;
  }
  #navbar .logo img {
    display: none;
    margin-left: 20px;
    width: 14em;
    height: 6.5em;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    mix-blend-mode: normal;
  }
  #navbar .nav-menu {
    width: 100%;
  }
  #navbar .nav-menu .nav-buttons a button {
    display: none;
  }

  .m-nav {
    z-index: 9999;
  }

  #menuToggle {
    height: 100%;
    width: 20%;
    display: block;
    position: fixed;
    top: 50px;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: #ff3815;
  }
  #menuToggle input {
    margin-left: 30px;
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    margin-left: 30px;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }

  #menu {
    position: absolute;
    height: 1200px;
    width: 280px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    margin-left: 30px;
    padding: 10px;
    font-size: 18px;
  }

  .hero-section {
    width: 100%;
    height: 100vh;
  }
  .hero-section .hero-wrapper {
    width: 100%;
  }
  .hero-section .hero-wrapper .hero-title {
    top: 58%;
  }
  .hero-section .hero-wrapper .hero-buttons {
    display: flex;
    justify-content: space-evenly;
    top: 87%;
  }
  .hero-section .hero-wrapper .hero-buttons a button {
    width: 220px;
    height: 50px;
  }
  .hero-section .hero-wrapper .hero-text {
    width: 80%;
    top: 70%;
  }
  .hero-section .mars {
    position: absolute;
    top: 43%;
    left: 62%;
    z-index: 2;
  }
  .hero-section .mars .tentacle {
    top: -190px;
    right: -90px;
  }
  .hero-section .mars .flag {
    top: 100px;
    left: -50px;
  }
  .hero-section .mars .planet {
    height: 310px;
    width: 310px;
  }
  .hero-section .roadmap {
    margin-top: 140px;
  }
  .hero-section .roadmap .roadmap-img {
    display: none;
  }
  .hero-section .roadmap .container {
    margin-top: 100px;
    width: 70%;
    height: 500px;
    position: relative;
  }

  @keyframes ship {
    0% {
      right: -10%;
      top: -10%;
    }
    40% {
      right: 30.5%;
      top: 23%;
    }
    79.5% {
      right: 30.5%;
      top: 23%;
    }
    84% {
      right: 50%;
      top: 40%;
    }
    100% {
      right: 50%;
      top: 40%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
  .about {
    margin-top: -120px;
  }
  .about .about-text {
    width: 80%;
  }
  .about .about-img {
    display: none;
  }
  .about .about-bottom {
    width: 80%;
    height: 430px;
    flex-direction: column-reverse;
  }
  .about .about-bottom .bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 43px;
  }

  .roadmap {
    margin-top: 140px;
  }
  .roadmap .roadmap-img {
    display: none;
  }
  .roadmap .container {
    margin-top: 100px;
    width: 70%;
    height: 500px;
    position: relative;
  }

  .links {
    width: 90%;
  }
  .links .part {
    width: 240px;
  }
}
@media (max-width: 616px) {
  .chart {
    height: 800px;
  }
  .chart .live {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .chart .live .part {
    height: 40px;
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .chart .records {
    margin-top: 20px;
    width: 95%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .chart .records .part {
    height: 140px;
    width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .chart .records .part img {
    user-select: none;
    pointer-events: none;
    height: 40px;
    margin-bottom: 20px;
  }
  .chart .records .part h3 {
    font-size: 22px;
  }
  .chart .records .part p {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 9px;
    opacity: 0.5;
    font-weight: 400;
    user-select: none;
    pointer-events: none;
  }
}
@media (max-width: 540px) {
  footer {
    align-items: flex-start;
    padding-top: 40px;
    margin-top: -130px;
    height: 210px;
  }

  #menu {
    position: absolute;
    height: 1200px;
    width: 250px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px;
    font-size: 19px;
  }

  .chart {
    height: 1100px;
  }
  .chart h1 {
    font-size: 30px;
    margin-top: -100px;
    margin-bottom: 60px;
  }
  .chart .live {
    width: 80%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .chart .live .part {
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -10;
  }
  .chart .records {
    margin-top: 20px;
    width: 95%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 120px;
    flex-wrap: nowrap;
  }
  .chart .records .part {
    height: 130px;
    width: 405px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .chart .records .part img {
    user-select: none;
    pointer-events: none;
    height: 30px;
    margin-bottom: 20px;
  }
  .chart .records .part h3 {
    font-size: 25px;
  }
  .chart .records .part p {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 12px;
    opacity: 0.5;
    font-weight: 400;
    user-select: none;
    pointer-events: none;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-section {
    width: 100%;
    height: 100vh;
  }
  .hero-section .hero-wrapper {
    width: 100%;
    justify-content: center;
  }
  .hero-section .hero-wrapper .hero-title {
    top: 58%;
  }
  .hero-section .hero-wrapper .hero-title h1 {
    font-size: 30px;
  }
  .hero-section .hero-wrapper .hero-buttons {
    position: fixed;
    top: 87%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .hero-section .hero-wrapper .hero-buttons a button {
    width: 100%;
    height: 50px;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
  }
  .hero-section .hero-wrapper .hero-text {
    width: 70%;
    top: 67%;
    font-size: 14px;
  }
  .hero-section .ship {
    display: none;
  }
  .hero-section .mars {
    position: absolute;
    top: 50%;
    left: 78%;
    z-index: 2;
  }
  .hero-section .mars .tentacle {
    display: none;
    top: -190px;
    right: -90px;
  }
  .hero-section .mars .flag {
    display: none;
  }
  .hero-section .mars .planet {
    height: 250px;
    width: 250px;
  }
  .hero-section .roadmap {
    margin-top: 140px;
  }
  .hero-section .roadmap .roadmap-img {
    display: none;
  }
  .hero-section .roadmap .container {
    margin-top: 100px;
    width: 70%;
    height: 500px;
    position: relative;
  }

  .about {
    margin-top: -180px;
    text-align: center;
  }
  .about h1 {
    font-size: 30px;
  }
  .about h3 {
    font-size: 17px;
  }
  .about .about-text {
    width: 80%;
  }
  .about .about-text h2 {
    font-size: 20px;
  }
  .about .about-text p {
    text-align: center;
    font-size: 15px;
  }
  .about .about-img {
    display: none;
  }
  .about .about-bottom {
    width: 80%;
    height: 430px;
    flex-direction: column-reverse;
  }
  .about .about-bottom .hero-buttons {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .about .about-bottom .hero-buttons a {
    margin-right: 10px;
  }
  .about .about-bottom .hero-buttons a button {
    width: 100%;
    height: 45px;
    font-size: 10px;
  }
  .about .about-bottom .hero-buttons .btn-wrapper {
    margin-top: -150px;
  }
  .about .about-bottom .hero-buttons .btn-wrapper button {
    width: 150px;
    height: 50px;
    font-size: 14px;
  }
  .about .about-bottom .bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: -10px;
  }
  .about .about-bottom .bottom-text div {
    margin-top: 10px;
  }
  .about .about-bottom .bottom-text div p {
    text-align: center;
    font-size: 15px;
  }

  .roadmap {
    margin-top: 140px;
  }
  .roadmap h1 {
    font-size: 30px;
  }
  .roadmap .roadmap-img {
    display: none;
  }
  .roadmap .content {
    display: flex;
    justify-content: center;
  }
  .roadmap .container {
    margin-top: 80px;
    width: 100%;
    height: 500px;
    position: relative;
  }
  .roadmap .container .btn {
    display: none;
  }
  .roadmap .container .rightbox {
    height: 100%;
  }

  .links {
    margin-top: 0px;
    width: 90%;
  }
  .links .part {
    width: 240px;
  }
}
@media (max-width: 390px) {
  footer {
    align-items: flex-start;
    padding-top: 40px;
    margin-top: -130px;
    height: 180px;
  }

  .chart {
    height: 800px;
  }
  .chart h1 {
    font-size: 30px;
    margin-top: -100px;
    margin-bottom: 40px;
  }
  .chart .live {
    width: 85%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .chart .live .part {
    height: 45px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .chart .records {
    margin-top: 20px;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
  }
  .chart .records .part {
    height: 130px;
    width: 110px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
  .chart .records .part img {
    user-select: none;
    pointer-events: none;
    height: 35px;
    margin-bottom: 20px;
  }
  .chart .records .part h3 {
    font-size: 22px;
  }
  .chart .records .part p {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 12px;
    opacity: 0.5;
    font-weight: 400;
    user-select: none;
    pointer-events: none;
    text-align: center;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #menu {
    position: absolute;
    height: 1200px;
    width: 250px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 90px;
    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 5px;
    font-size: 14px;
  }

  .hero-section {
    width: 100%;
    height: 100vh;
  }
  .hero-section .hero-wrapper {
    justify-content: center;
    width: 100%;
  }
  .hero-section .hero-wrapper .hero-title {
    top: 58%;
  }
  .hero-section .hero-wrapper .hero-title h1 {
    font-size: 30px;
  }
  .hero-section .hero-wrapper .hero-buttons {
    position: fixed;
    top: 87%;
  }
  .hero-section .hero-wrapper .hero-buttons a button {
    width: 100%;
    height: 45px;
    font-size: 10px;
  }
  .hero-section .hero-wrapper .hero-buttons a button#activated {
    font-size: 10px;
  }
  .hero-section .hero-wrapper .hero-text {
    width: 90%;
    top: 67%;
    font-size: 14px;
  }
  .hero-section .ship {
    display: none;
  }
  .hero-section .mars {
    position: absolute;
    top: 57%;
    left: 90%;
    z-index: 2;
  }
  .hero-section .mars .tentacle {
    display: none;
    top: -190px;
    right: -90px;
  }
  .hero-section .mars .flag {
    display: none;
  }
  .hero-section .mars .planet {
    height: 210px;
    width: 210px;
  }
  .hero-section .roadmap {
    margin-top: 140px;
  }
  .hero-section .roadmap .roadmap-img {
    display: none;
  }
  .hero-section .roadmap .container {
    margin-top: 100px;
    width: 70%;
    height: 500px;
    position: relative;
  }

  .about {
    margin-top: -170px;
    text-align: center;
  }
  .about h1 {
    font-size: 30px;
  }
  .about h3 {
    font-size: 15px;
  }
  .about .about-text {
    margin-top: 70px;
    width: 80%;
  }
  .about .about-text h2 {
    font-size: 18px;
  }
  .about .about-text p {
    text-align: center;
    font-size: 14px;
  }
  .about .about-img {
    display: none;
  }
  .about .about-bottom {
    width: 90%;
    height: 430px;
    flex-direction: column-reverse;
  }
  .about .about-bottom .hero-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .about .about-bottom .hero-buttons .btn-wrapper {
    margin-top: -90px;
  }
  .about .about-bottom .hero-buttons .btn-wrapper button {
    width: 120px;
    height: 45px;
    font-size: 11px;
  }
  .about .about-bottom .bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 46px;
  }
  .about .about-bottom .bottom-text div {
    margin-top: 10px;
  }
  .about .about-bottom .bottom-text div p {
    text-align: center;
    font-size: 14px;
  }

  .roadmap {
    margin-top: 140px;
  }
  .roadmap h1 {
    font-size: 30px;
  }
  .roadmap .roadmap-img {
    display: none;
  }
  .roadmap .content {
    display: flex;
    justify-content: center;
  }
  .roadmap .container {
    margin-top: 80px;
    width: 100%;
    height: 500px;
    position: relative;
  }
  .roadmap .container .btn {
    display: none;
  }
  .roadmap .container .rightbox {
    height: 100%;
  }
  .roadmap .container .rb-container .rb {
    width: 340px;
  }
}

/*# sourceMappingURL=style.css.map */
