<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safe Mars 🌌</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/fav/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="img/fav/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <section>
      <nav id="navbar">
        <div class="nav-wrapper">
          <a class="logo" href="index.html">
            <img src="img/safemarslogo.svg" alt="logo" />
          </a>
          <ul class="nav-menu">
            <li><a href="#">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#roadmap">roadmap</a></li>
            <li>
              <a class="drop" href="#">contact<i class="arrow down"></i></a>
              <ul class="dropdown">
                <li>
                  <a target="”_blank”" href="https://t.me/safemars">
                    Telegram</a
                  >
                </li>
                <li>
                  <a target="”_blank”" href="https://twitter.com/Safemartians"
                    >Twitter</a
                  >
                </li>
                <li>
                  <a target="”_blank”" href="https://www.reddit.com/r/Safemars/"
                    >Reddit</a
                  >
                </li>
                <li>
                  <a target="”_blank”" href="https://discord.gg/Rn8ah2tkrv"
                    >Discord</a
                  >
                </li>
                <!-- <li><a target="”_blank”" href="">Instagram</a></li> -->
              </ul>
            </li>
            <li class="nav-buttons">
              <a
                class="hide"
                target="”_blank”"
                href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0x3ad9594151886ce8538c1ff615efa2385a8c3a88"
              >
                <button>
                  BUY ON PANCAKE
                </button>
              </a>
              <a class="mobile" href="https://safeearthcrypto.com/">
                <button class="hide2">
                  LAND ON EARTH
                </button>
                <button class="earth"></button>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <section class="hero-section" id="index">
      <div class="ship">
        <div class="ship-rotate">
          <div class="pod"></div>
          <div class="fuselage"></div>
        </div>
      </div>
      <div class="mars">
        <div class="tentacle"></div>
        <div class="flag">
          <div class="small-tentacle"></div>
        </div>
        <div class="planet">
          <div class="surface"></div>
          <div class="crater1"></div>
          <div class="crater2"></div>
          <div class="crater3"></div>
        </div>
      </div>
      <div class="hero-wrapper">
        <div class="hero-title">
          <h1>
            take off with us
          </h1>
          <br />
          <!-- <p class="shadow">
            and
          </p>
          <p>
            and
          </p> -->
        </div>
        <div class="hero-buttons">
          <a
            target="”_blank”"
            href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0x3ad9594151886ce8538c1ff615efa2385a8c3a88"
          >
            <button>Buy on Pancake</button>
          </a>
          <a target="”_blank”" href="https://t.me/safemars">
            <button class="btn">
              Join on Telegram
            </button>
          </a>
        </div>
        <div class="hero-text">
          <p>
            Autonomous yield and liquidity generation protocol. Simply hold
            SAFEMARS in your wallet and you will get more. On each transaction
            the protocol automatically distributes rewards to holders as well as
            auto-locks liquidity forever.
          </p>
        </div>
      </div>
    </section>
    <section class="about section" id="about">
      <h1>About</h1>
      <div class="content">
        <div class="about-text">
          <h2>
            <b>
              $SAFEMARS is programmed to reward holders while increasing in both
              liquidity and value.
            </b>
          </h2>
          <br />
          <h3>
            It does this by applying a
          </h3>
          <p>
            4% tax on transactions
            <br />
            2% goes to holders
            <br />
            2% is auto-locked to liquidity
          </p>
          <br />
          <h3>Forever Deflationary supply/burn</h3>
          <p>
            we burned more than 50% of the total supply after launch and sent it
            to a black hole address; as this address also participates in the
            protocol, it accumulates more tokens, thereby effectively removing
            them from circulation. There is no limit to the burn, the black hole
            will keep growing, increasing the scarcity of SAFEMARS.
          </p>
        </div>
        <div class="about-img">
          <img src="img/moon.svg" alt="" />
        </div>
      </div>
      <div class="content">
        <div class="about-bottom">
          <div class="hero-buttons">
            <a
              class="btn-wrapper"
              target="”_blank”"
              href="https://bscscan.com/tx/0xbcd9961aae5f68798632dc05f860a60e29e7750137c07166ec16c1b6e08e8a88"
            >
              <button class="btn">
                BURNT TOKENS
              </button>
            </a>
            <a
              class="btn-wrapper"
              target="”_blank”"
              href="https://bscscan.com/tx/0x6f4dec72265cda0acbc056d9bf2c19cdc182c873b48fd8329a9f9201c477e829"
            >
              <button class="btn">
                LIQUIDITY LOCK
              </button>
            </a>
          </div>
          <div class="bottom-text">
            <div>
              <h3>Auto-locking liquidity</h3>
              <p>
                2% of each transaction is locked to liquidity forever. This
                contributes to less volatility and a continuously increasing
                price floor.
              </p>
            </div>
            <div>
              <h3>100% safe</h3>
              <p>
                LP tokens were burned thereby locking initial liquidity away
                forever. Fair distribution without whales. Active and engaged
                team, ready to answer any questions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="roadmap section" id="roadmap">
      <h1>Road Map</h1>
      <div class="content">
        <div class="roadmap-img">
          <img src="/img/earth.svg" alt="" />
        </div>
        <div class="container">
          <div class="rightbox">
            <div class="rb-container">
              <ul class="rb">
                <div class="btn up">
                  >
                </div>
                <div class="btn down">
                  >
                </div>
                <div class="btn up2">
                  >
                </div>
                <div class="btn down2">
                  >
                </div>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q1 2021<br />
                    Done
                  </div>
                  <div class="item-title">
                    Safe launch (liquidity locked FOREVER)
                  </div>
                </li>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q1 2021<br />
                    Done
                  </div>
                  <div class="item-title">
                    BURNED 53% of total supply and seeded BLACK HOLE
                  </div>
                </li>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q1 2021<br />
                    Done
                  </div>
                  <div class="item-title">
                    Website redesign
                  </div>
                </li>
                <li class="rb-item inpr" ng-repeat="itembx">
                  <div class="timestamp">
                    Q1 2021<br />
                    In progress
                  </div>
                  <div class="item-title">
                    Listing on Coingecko, Coinmarketcap
                  </div>
                </li>
                <li class="rb-item inpr" ng-repeat="itembx">
                  <div class="timestamp">
                    Q1 2021<br />
                    In progress
                  </div>
                  <div class="item-title">
                    Smart contract audit
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    Coming soon
                  </div>
                  <div class="item-title">
                    Marketing push
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    Coming soon
                  </div>
                  <div class="item-title">
                    Further partnerships
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    Coming soon
                  </div>
                  <div class="item-title">
                    Community votes, events and competitions
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    Coming soon
                  </div>
                  <div class="item-title">
                    Secret new mission launch
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">Q3 2021<br /></div>
                  <div class="item-title">
                    NFT staking & mining
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">Q3 2021<br /></div>
                  <div class="item-title">
                    Listing on established exchanges
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">Q3 2021<br /></div>
                  <div class="item-title">
                    Further ecosystem development
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      window.onscroll = function () {
        scrollFunction();
      };
      function scrollFunction() {
        if (
          document.body.scrollTop > 80 ||
          document.documentElement.scrollTop > 80
        ) {
          document.getElementById("navbar").style.background = "#00000090";
        } else {
          document.getElementById("navbar").style.background = "#00000000";
        }
      }
    </script>
    <footer>
      <p>&copy;2021 by <a href="index.html">Safemars</a></p>
    </footer>
  </body>
</html>
