<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Safe Mars 🌌</title>

	<script src="https://code.jquery.com/jquery-3.6.0.js"
	        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	        crossorigin="anonymous"></script>
	<script src="js/api.js"></script>
	<script type="text/javascript">
		function googleTranslateElementInit () {
			new google.translate.TranslateElement ( { pageLanguage: 'en' }, 'google_translate_element' );
		}
	</script>
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
	</script>

	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/iframe.css"/>
	<link href="vendor/remixicon/remixicon.css" rel="stylesheet">
	<link rel="shortcut icon" href="img/fav/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="img/fav/favicon.ico" type="image/x-icon"/>
</head>

<body>
<section>
	<div id="google_translate_element"></div>
	<nav id="navbar">
		<div class="nav-wrapper">
			<a class="logo" href="index.html">
				<img src="img/safemarslogo.svg" alt="logo"/>
			</a>
			<ul class="nav-menu">
				<li><a id="myBtn"></a></li>
				<li><a href="giveaway.html">giveaway</a></li>
				<li><a href="#">home</a></li>
				<li><a href="#about">about</a></li>
				<li><a href="#roadmap">roadmap</a></li>
				<li>
					<a class="drop" href="#">White Papers<i class="arrow down"></i></a>
					<ul class="dropdown">
						<li>
							<a target="”_blank”" href="pdf/en-safemars-whitepaper.pdf">
								EN - White Paper</a>
						</li>
						<li>
							<a target="”_blank”" href="pdf/es-safemars-whitepaper.pdf">ES - White Paper</a>
						</li>
						<li>
							<a target="”_blank”" href="pdf/de-safemars-whitepaper.pdf">DE - White Paper</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="drop" href="#">contact<i class="arrow down"></i></a>
					<ul class="dropdown">
						<li>
							<a target="”_blank”" href="https://t.me/safemars">
								Telegram</a>
						</li>
						<li>
							<a target="”_blank”" href="https://twitter.com/Safemartians">Twitter</a>
						</li>
						<li>
							<a target="”_blank”" href="https://www.reddit.com/r/Safemars/">Reddit</a>
						</li>
						<li>
							<a target="”_blank”" href="https://www.instagram.com/safe_mars/">Instagram</a>
						</li>
						<li>
							<a target="”_blank”" href="https://discord.gg/Rn8ah2tkrv">Discord</a>
						</li>
					</ul>
				</li>
				<li class="nav-buttons">
					<a class="hide" target="”_blank”" href="https://safemars.app">
						<button id="launch-app-button">
							LAUNCH APP
						</button>
					</a>
					<a class="mobile" href="https://safeearthcrypto.com/">
						<button class="hide2">
							LAND ON EARTH
						</button>
						<button class="earth"></button>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav role="m-nav">
		<div id="menuToggle">
			<input type="checkbox"/>
			<span></span>
			<span></span>
			<span></span>
			<ul id="menu">
				<li>
					<a href="#">
						Home
					</a>
				</li>
				<li>
					<a href="#about">
						About
					</a>
				</li>
				<li><a href="#roadmap">
					Roadmap
				</a>
				</li>
				<li>
					<a href="/pdf/en-safemars-whitepaper.pdf" target="_blank">
						Whitepaper
					</a>
				</li>
				<li>
					<a href="giveaway.html">
						Giveaway
					</a>
				</li>
				<li>
					<a href="https://t.me/safemars" target="_blank">
						Telegram
					</a>
				</li>
				<li>
					<a href="https://twitter.com/Safemartians" target="_blank">
						Twitter
					</a>
				</li>
				<li>
					<a href="https://www.reddit.com/r/Safemars/" target="_blank">
						Reddit
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/safe_mars/" target="_blank">
						Instagram
					</a>
				</li>
				<li>
					<a href="https://discord.gg/Rn8ah2tkrv" target="_blank">
						Discord
					</a>
				</li>
				<li>
					<a href="https://safeearthcrypto.com/" target="_blank">
						Land on Earth
					</a>
				</li>

			</ul>
		</div>
	</nav>
</section>
<section class="hero-section" id="index">
	<div class="ship">
		<div class="ship-rotate">
			<div class="pod"></div>
			<div class="fuselage"></div>
		</div>
	</div>
	<div class="mars">
		<div class="tentacle"></div>
		<div class="flag">
			<div class="small-tentacle"></div>
		</div>
		<div class="planet">
			<div class="surface"></div>
			<div class="crater1"></div>
			<div class="crater2"></div>
			<div class="crater3"></div>
		</div>
	</div>
	<div class="hero-wrapper">
		<div class="hero-title">
			<h1>
				take off with us
			</h1>
			<br/>
		</div>
		<div class="hero-buttons">
			<a target="”_blank”" href="https://t.me/safemars">
				<button class="btn">
					Join on Telegram
				</button>
			</a>
			<a target="”_blank”" href="https://safemars.app">
				<button id="activated" class="btn">
					Buy SAFEMARS
				</button>
			</a>
		</div>
		<div class="hero-text">
			<p>
				Autonomous yield and liquidity generation protocol. Simply hold
				SAFEMARS in your wallet and you will get more. On each transaction
				the protocol automatically distributes rewards to holders as well as
				auto-locks liquidity forever.
			</p>
		</div>
	</div>
</section>
<div class="row-center">
	<iframe id="iframe-swap" src="https://safemars.app">
	</iframe>
</div>
<section class="chart section">
	<h1>Stats</h1>
	<div class="live">
		<div class="part">
			<a target="_blank" href="https://dex.guru/token/0x3ad9594151886ce8538c1ff615efa2385a8c3a88">
				<button>Live Chart</button>
			</a>
		</div>
		<div class="part">
			<h3 class="cur value"></h3>
			<p>current value</p>
		</div>
		<div class="part">
			<h3 class="cur volume"></h3>
			<p>24H volume</p>
		</div>
		<div class="part">
			<h3 class="1hc"></h3>
			<p>1h change</p>
		</div>
		<div class="part">
			<h3 class="24hc"></h3>
			<p>24 change</p>
		</div>
		<div class="part">
			<h3 class="7dc"></h3>
			<p>14d change</p>
		</div>
	</div>
	<div class="records">
		<div class="part">
			<img src="/img/helmet.svg" alt=""/>
			<h3 class="hodlers"></h3>
			<p>Current Hodlers</p>
		</div>
		<div class="part">
			<img src="/img/dollar.svg" alt=""/>
			<h3 class="liquid"></h3>
			<p>Total Liquidity</p>
		</div>
		<div class="part">
			<img src="/img/chart.svg" alt=""/>
			<h3 class="marketcap"></h3>
			<p>Market Cap</p>
		</div>
		<div class="part">
			<img src="/img/flame.svg" alt=""/>
			<h3 class="burned"></h3>
			<p>Safemars Burned</p>
		</div>
	</div>
</section>
<section class="about section" id="about">
	<h1>About</h1>
	<div class="content">
		<div class="about-text">
			<h2>
				<b>
					$SAFEMARS is programmed to reward holders while increasing in both
					liquidity and value.
				</b>
			</h2>
			<br/>
			<h3>
				It does this by applying a
			</h3>
			<p>
				4% tax on transactions
				<br/>
				2% goes to holders
				<br/>
				2% is auto-locked to liquidity
			</p>
			<br/>
			<h3>Forever Deflationary supply/burn</h3>
			<p>
				We burned more than 50% of the total supply after launch and sent it
				to a black hole address; as this address also participates in the
				protocol, it accumulates more tokens, thereby effectively removing
				them from circulation. There is no limit to the burn, the black hole
				will keep growing, increasing the scarcity of SAFEMARS.
			</p>
		</div>
		<div class="about-img">
			<img src="img/moon.svg" alt=""/>
		</div>
	</div>
	<div class="content">
		<div class="about-bottom">
			<div class="hero-buttons">
				<a class="btn-wrapper" target="”_blank”"
				   href="https://bscscan.com/tx/0xbcd9961aae5f68798632dc05f860a60e29e7750137c07166ec16c1b6e08e8a88">
					<button class="btn">
						BURNT TOKENS
					</button>
				</a>
				<a class="btn-wrapper" target="”_blank”"
				   href="https://bscscan.com/tx/0x6f4dec72265cda0acbc056d9bf2c19cdc182c873b48fd8329a9f9201c477e829">
					<button class="btn">
						LIQUIDITY LOCK
					</button>
				</a>
			</div>
			<div class="bottom-text">
				<div>
					<h3>Auto-locking liquidity</h3>
					<p>
						2% of each transaction is locked to liquidity forever. This
						contributes to less volatility and a continuously increasing
						price floor.
					</p>
				</div>
				<div>
					<h3>100% safe</h3>
					<p>
						LP tokens were burned thereby locking initial liquidity away
						forever. Fair distribution without whales. Active and engaged
						team, ready to answer any questions.
					</p>
				</div>
			</div>
		</div>
	</div>
	<h1 style="margin-top: 40px; margin-bottom: 40px;">Team</h1>
	<section id="team" class="team section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<p>Our team of developers, marketers and moderators work with a shared vision to develop and grow this
				   innovative asset which will help our Earth. </p>
			</div>
			<div class="row">
				<div class="col-lg-6 mt-4">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
						<div class="pic"><img src="img/team/ken.jpeg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Kenneth Churchill</h4>
							<span>CEO</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href="https://t.me/KenSafeEarth"><i class="ri-telegram-fill"></i></a>
								<a target="_blank" target="_blank"
								   href="https://www.linkedin.com/in/kenneth-churchill-safemars-safeearth/">
									<i class="ri-linkedin-fill"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
						<div class="pic"><img src="img/team/martian.jpg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>The Martian</h4>
							<span>Development - Founder</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href="https://t.me/TheCryptoMartian"><i class="ri-telegram-fill"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
						<div class="pic"><img src="img/team/charls.jpg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Charles Lanier</h4>
							<span>SafeSwap developer</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href="https://t.me/NegativeHoro"><i class="ri-telegram-fill"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
						<div class="pic"><img src="img/team/robin_g.jpg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Robin Gogberg</h4>
							<span>Video Wizard / PR</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href="https://t.me/def_not_batman"><i
										class="ri-telegram-fill"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
						<div class="pic"><img src="img/team/safemars.svg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Usernamevergebn</h4>
							<span>Designer / Web Dev</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href="https://t.me/usernamevergebn"><i class="ri-telegram-fill"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4 ">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
						<div class="pic"><img src="img/team/safemars.svg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Jesus</h4>
							<span>Forum mod / PR And Media</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href=""><i class="ri-telegram-fill"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
						<div class="pic"><img src="img/team/safemars.svg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Wisdom Jack</h4>
							<span>Mod / Idealist</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href="https://t.me/Crazybitcz"><i class="ri-telegram-fill"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
						<div class="pic"><img src="img/team/safemars.svg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Big Ronnie</h4>
							<span>Mod / Idealist</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href="https://t.me/KenSafeEarth"><i class="ri-telegram-fill"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
						<div class="pic"><img src="img/team/eduard.jpeg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Eduard</h4>
							<span>Web Dev / Mod</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href="https://t.me/EduardG7"><i class="ri-telegram-fill"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
						<div class="pic"><img src="img/team/safemars.svg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Joy</h4>
							<span>Forum mod / Marketing</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href="https://t.me/@joyut"><i class="ri-telegram-fill"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
						<div class="pic"><img src="img/team/safemars.svg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Raptor</h4>
							<span>Forum mod / Marketing</span>
							<p></p>
							<div class="social">
								<a target="_blank" href="https://twitter.com/Safemartians"><i
										class="ri-twitter-fill"></i></a>
								<a target="_blank" href="https://t.me/@@Rocketlite"><i class="ri-telegram-fill"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="links">
		<div class="part">
			<p>listed on</p>
			<a target="_blank" href="https://www.coingecko.com/en/coins/safemars">
				<img src="/img/links/coingeckologo.svg" alt=""/>
			</a>
		</div>
		<div class="part">
			<p>listed on</p>
			<a target="_blank" href="https://coinmarketcap.com/currencies/safemars/">
				<img src="/img/links/cmc-logo.svg" alt=""/>
			</a>
		</div>
		<div class="part">
			<p>listed on</p>
			<a target="_blank" href="https://whitebit.com/trade/SMARS_USDT ">
				<img src="/img/links/whitebit.svg" style="height: 50px; width: 1000px; padding-left: 25px;"/>
			</a>
		</div>
		<div class="part">
			<p>certified by</p>
			<a target="_blank" href="https://www.certik.org/projects/safemars">
				<img src="/img/links/certik-logotype-h-w.svg" alt=""/>
			</a>
		</div>
		<div class="part">
			<p>buy on</p>
			<a target="_blank"
			   href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0x3ad9594151886ce8538c1ff615efa2385a8c3a88">
				<img src="/img/links/pancakelogo.svg" alt=""/>
			</a>
		</div>
	</div>
</section>
<section class="roadmap section" id="roadmap">
	<h1>Road Map</h1>
	<div class="content">
		<div class="roadmap-img">
			<img src="/img/earth.svg" alt=""/>
		</div>
		<div class="container">
			<div class="rightbox">
				<div class="rb-container">
					<ul class="rb">
						<div class="btn up">
							>
						</div>
						<div class="btn down">
							>
						</div>
						<div class="btn up2">
							>
						</div>
						<div class="btn down2">
							>
						</div>
						<li class="rb-item done" ng-repeat="itembx">
							<div class="timestamp">
								Q1 2021<br/>
								Done
							</div>
							<div class="item-title">
								Safe launch (liquidity locked FOREVER)
							</div>
						</li>
						<li class="rb-item done" ng-repeat="itembx">
							<div class="timestamp">
								Q1 2021<br/>
								Done
							</div>
							<div class="item-title">
								BURNED 53% of total supply and seeded BLACK HOLE
							</div>
						</li>
						<li class="rb-item done" ng-repeat="itembx">
							<div class="timestamp">
								Q1 2021<br/>
								Done
							</div>
							<div class="item-title">
								Website redesign
							</div>
						</li>
						<li class="rb-item done" ng-repeat="itembx">
							<div class="timestamp">
								Q1 2021<br/>
								Done
							</div>
							<div class="item-title">
								Listing on Coingecko, Coinmarketcap
							</div>
						</li>
						<li class="rb-item done" ng-repeat="itembx">
							<div class="timestamp">
								Q1 2021<br/>
								Done
							</div>
							<div class="item-title">
								Smart contract audit
							</div>
						</li>
						<li class="rb-item inpr" ng-repeat="itembx">
							<div class="timestamp">
								Q2 2021<br/>
								In progress
							</div>
							<div class="item-title">
								Marketing push
							</div>
						</li>
						<li class="rb-item inpr" ng-repeat="itembx">
							<div class="timestamp">
								Q2 2021<br/>
								In progress
							</div>
							<div class="item-title">
								Further partnerships
							</div>
						</li>
						<li class="rb-item inpr" ng-repeat="itembx">
							<div class="timestamp">
								Q2 2021<br/>
								In progress
							</div>
							<div class="item-title">
								Community votes, events and competitions
							</div>
						</li>
						<li class="rb-item soon" ng-repeat="itembx">
							<div class="timestamp">
								Q2 2021<br/>
								Coming soon
							</div>
							<div class="item-title">
								Secret new mission launch
							</div>
						</li>
						<li class="rb-item soon" ng-repeat="itembx">
							<div class="timestamp">Q3 2021<br/></div>
							<div class="item-title">
								NFT staking & mining
							</div>
						</li>
						<li class="rb-item soon" ng-repeat="itembx">
							<div class="timestamp">Q3 2021<br/></div>
							<div class="item-title">
								Listing on established exchanges
							</div>
						</li>
						<li class="rb-item soon" ng-repeat="itembx">
							<div class="timestamp">Q3 2021<br/></div>
							<div class="item-title">
								Further ecosystem development
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	<p>&copy;2021 by <a href="index.html">Safemars</a></p>
</footer>
<script>
	window.onscroll = function () {
		scrollFunction ();
	};


	function scrollFunction () {
		if (
				document.body.scrollTop > 80 ||
				document.documentElement.scrollTop > 80
		) {
			document.getElementById ( "navbar" ).style.background = "#00000090";
		}
		else {
			document.getElementById ( "navbar" ).style.background = "#00000000";
		}
	}


	function myFunction () {
		var x = document.getElementById ( "myLinks" );
		if ( x.style.display === "block" ) {
			x.style.display = "none";
		}
		else {
			x.style.display = "block";
		}
	}
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HZX01Y7JC2"></script>
<script>
	window.dataLayer = window.dataLayer || [];


	function gtag () {dataLayer.push ( arguments );}


	gtag ( 'js', new Date () );
	gtag ( 'config', 'G-HZX01Y7JC2' );
</script>
</body>

</html>